@charset "UTF-8";

body, body *
{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    outline: none;
}

div#main-page
{
    width: 100%;
    max-width: 10000px;
    height: auto;
    min-height: 100vh;
    position: static;
    display: flex;
    flex-flow: column nowrap;
    background: #333333 url("../img/place-3.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
div#main-page-overlay
{
    width: inherit;
    height: inherit;
    min-height: inherit;
    background: linear-gradient(to right,rgba(190,250,0,0.25), rgba(0,20,0,0.15), rgba(220,0,0,0.6));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
div.form-container
{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    background: #ffffff;
    box-shadow: 10px 10px 7px 1px #33333355;
    border-radius: 30px 0 40px 0;
}
form.login-form
{
    width: auto;
    display: flex;
    flex-flow: column nowrap;
}
form.login-form input.input
{
    min-width: 90%;
    padding: 5px 10px;
    margin: 20px 5px;
    border-bottom: 3px solid #aaaaaa33;
    color: forestgreen;
    font-size: 16px;
}
div.form-container p
{
    color: #777777;
}
h3
{
    font-size: 2em;
    color: tomato;
    padding: 25px 0 50px 0;
    text-shadow: 1px 1px 1px #55555599;
}
input[type="submit"]
{
    transition: all .3s ease;
    width: 60%;
    color: #ffffff;
    background: tomato;
    margin: 20px auto;
    padding: 15px 5px;
    border-radius: 20px 20px 0 50px;
}
input[type="submit"]:hover
{
    border-radius: 0;
    background: #00000077;
}
